@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  padding: 2rem 0;
}

// Responsive typography sizes using Bootstrap mixins for the media querries
html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

.header-subtle {
  @extend .text-warning;
  @extend .text-uppercase;
  font-size: 1.2rem;
  letter-spacing: .12em;
  opacity: .6;
}
